/* General Styling */
body {
  margin: 0;
  overflow-x: hidden;
  line-height: 1.6;
}

.intro-image {
position: relative;
width: 100%;
height: 60vh; /* Keep the height at 60vh */
background: rgba(0, 0, 0, 0.5);
}

.about-background-image {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
z-index: -1; /* Keep the background behind the content */

}

.about-content h2 {
  font-size: 2rem;
  color:#fff;
}

.about-content {
position: absolute;
top: 0;
left: 0; /* Align to the top right */
margin: 20px;
color: #808080;
font-family: 'Hina Mincho', serif;
display: flex;
flex-direction: column;
justify-content: flex-start;
}

.about-top-right {
display: flex;
align-items: center;
justify-content: flex-start;
margin-bottom: 10px; /* Space between the h1 and the h5 */
}

.top-right img {
  margin-top: 40px; 
  
}

.about-headshot {
width: 100px;
height: 150px;
border-radius: 50%;
border: 5px solid white;
object-fit: cover;
margin-right: 1rem;
}

h5 {
font-size: 20px;
margin-top: 20px;
color: #fff;
}

p {
color: #808080;
font-family: "Lato", Sans-serif;
}

.about-page {
display: flex;
flex-direction: column;
padding: 2rem;
}

/* Responsive Styling */
@media (max-width: 768px) {
.about-page {
  padding: 1rem;
}

.background h2,
.training h2 {
  font-size: 1.5rem;
}

.training-item h5 {
  font-size: 1.25rem;
}

.training-item p {
  font-size: 1rem;
}
}

@media (max-width: 480px) {
.intro-image {
  height: 35vh;
}

.about-page {
  padding: 0.5rem;
}
.about-background-image {
  height: 35vh;
}

.about-headshot {
  width: 100px;
  height: 150px;
}

.background,
.training {
  padding: 0.8rem;
}

.background h2,
.training h2 {
  font-size: 1.25rem;
}

.training-item p {
  font-size: 0.9rem;
}
}
