/* Contact Page Styling */
.contact-container {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-direction: row;
  }

  .info-con {
    margin-left: 1.5rem;
    
  }
  
  .contact-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .contact-details {
    padding: .5rem;
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FCE7AA;
    border: 2px solid gray;
    border-radius: 10px;

  }
  .contact-details img{
    border-radius: 50%;
    max-height: 200px;
    margin-right: 20px;
  }
  
  .contact-link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .contact-link:hover {
    text-decoration: underline;
  }
  
  .contact-message {
    margin-top: 20px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }

  .c-contact {
    min-width: 300px;
  }
  
  /* Responsive Styling */
  @media (max-width: 768px) {

    .c-contact {
      margin: 0 auto;
      width: 40rem;
    }

    .contact-container {
      padding: 15px;
      flex-direction: column;
      align-items: center;
    }
  
    .contact-title {
      font-size: 1.8rem;
    }
  
    .contact-details, .contact-message {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .contact-container {
      padding: 10px;
    
    }
  
    .contact-title {
      font-size: 1.5rem;
    }
  
    .contact-details, .contact-message {
      font-size: 0.9rem;
    }
    .info-con {
      display: flex;
      flex-direction: column;
    }
  }
  