.geschichte-container {
  max-width: 1200px;
  margin: 0 auto;
}

.g-head h2 {
  font-size: 2rem;
  padding: 1.5rem 0;
}

.geschichte-content {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}

.g-shiatsu {
    max-width: 60%;
    padding-right: 2rem;
}
.g-top-pic {
  max-height: 40rem;
  height: 100vh;
}

.g-top-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 45% center;
  margin-top: 2rem;
  
  /* Apply a gradient mask */
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);

}

.g-jin {
  max-width: 60%;
  margin-top: -15rem;
  padding-bottom: 7rem;
  padding-left: 1rem;
}

@media (max-width: 980px) {
  .geschichte-content {
    flex-direction: column;
  }

  .g-shiatsu {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 1rem;
  }

  .g-top-pic {
    width: 110%;
    max-height: 20rem;
    background-color: #CDAB81;
    margin-left: -15px;
  }

  .g-top-pic img {
    width: 70%;
    margin-left: 6rem;
    margin-top: 0;

  /* Apply a gradient mask */
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 30%);
  }

  .g-jin {
    margin: 0 auto -1rem;
    max-width: 100%;
    padding: 1rem;
    

  }

}
