
/* General Page Styles */
.home-container {
    font-family: 'Arial', sans-serif;
    background-color: #a0bded; /* Soft cream background */
    color: #4b2e2a; /* Earthy brown color */
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto; /* Centered container */
    display: flex; 
    flex-direction: column; /* Vertical */
    
}

h2 {
    color: #533e0d ; /* Earthy yellow/brown for headers */
    font-size: 2rem;
    font-weight: bold;
}

p {
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
    color: #4b2e2a;
    max-width: 900px;
    margin: 0 auto;
}
