.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #CDAB81; /* Unified background color */
  color: #000; /* Ensure readable text */
  font-family: Arial, sans-serif;
}

.left-container {
  display: flex;
  flex-direction: row;
  /* max-width: 60%; */
  /* padding-right: 1rem; */
}
.left-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 2rem;
  
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact-item .icon {
  color: #333;
  flex-shrink: 0; /* Ensure icon stays the same size */
}

.contact-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  flex-grow: 1; /* Ensure link takes up remaining space */
}

.map-container {
  flex-shrink: 0;
  width: 400px;
  height: 200px;
  margin-left: 20px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.banner {
  width: 100%;
  max-width: 620px;
  height: auto;
  margin-bottom: 1rem;
}


.bottom {
  text-align: center;
  margin-top: 1rem;
}

.bottom a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.bottom a:hover {
  text-decoration: underline;
}




@media (max-width: 1400px) {
  .left-container {
    display: flex;
    flex-direction: column;
    
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .banner {
    width: 100%;
    max-width: 100%;
  }

  .left-container {
    max-width: 100%;
    padding-right: 0;
  }

  .map-container {
    width: 90%;
    height: 10rem;
    margin: 20px auto 0;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 150px;
  }
}
