.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #CDAB81; /* Unified background color */
  color: #000; /* Ensure readable text */
  font-family: Arial, sans-serif;
}

.left-container {
  display: flex;
  flex-direction: row;
  
}

.left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
  
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  min-width: 144px;
}

.contact-item .icon {
  color: #333;
  flex-shrink: 0; /* Ensure icon stays the same size */
}

.contact-item a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  flex-grow: 1; /* Ensure link takes up remaining space */
}

.map-container {
  width: 400px;
  margin-left: 20px;
  border-radius: 5px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  
}

.banner {
  width: 100%;
  max-width: 620px;
  height: auto;
  margin-bottom: 1rem;
  min-width: 345px;
}


.bottom {
  text-align: start;
  margin-top: 1rem;
}

.bottom a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.bottom a:hover {
  text-decoration: underline;
}

@media (max-width:1200px) {
  .left-container {
    flex-direction: column;
  }
  .left-bottom {
    flex-direction: row;
  }
}

@media (max-width: 830px) {
  .map-container {
    display: flex;            /* Make map-container a flex container */
    justify-content: flex-end; /* Align iframe to the right */             /* Ensure the map container takes up the full width */
    margin-left: 0;           /* Remove margin to avoid pushing */
  }

  .map-container iframe {
    width: 200px;             /* Adjust width */
    height: 200px;            /* Adjust height if needed */
    margin-left: 0;           /* Reset margin to allow right alignment */
  }
}

@media (max-width: 768px) {
  .banner {
    width: 100%;
    max-width: 100%;
  }

  .left-container {
    max-width: 100%;
    padding-right: 0;
  }

}

@media (max-width:660px){
  .left-bottom {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
  .footer {
    flex-direction: column;
  }

  .left-bottom {
    align-items: center;
  }
  
  .map-container {
    height: 150px;
    width: 100%; 
  }

  .contact-item a {
    font-size: small;
  }

  .map-container {
    padding: 1rem 0;
    margin-bottom: 2rem;
    justify-content: center; 
  }
  .map-container iframe {
    width: 100%;
  }

}
