.review-carousel-container {
  position: relative;
  height: 10rem; /* Adjust height as needed for design */
  display: flex;
  align-items: center;
  justify-content: center; /* Center content horizontally */
  overflow: hidden;
  background-color: #acc8dd; /* Light background for better readability */
  padding: 0 2rem; /* Add padding on the left and right */
  border-radius: .2rem;
}

.review-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center text vertically */
  align-items: center; /* Center text horizontally */
  text-align: center; /* Center align text content */
  transition: left 1s ease-in-out;
  padding: 0 2rem; /* Add extra padding inside the slide */
  padding-top: 2rem;
  box-sizing: border-box; /* Ensure padding is included in width calculation */
}

.review-quote {
  font-size: 1.2rem;
  margin:0 1rem; /* Add more spacing around the quote */
  line-height: 1.6; /* Improve readability */

}


.review-initial {
  
  font-family: 'Hina Mincho', serif;
  font-size: 1.5rem;
  color: #555;
  margin-top: 0.5rem; /* Add spacing above initials */
}

.review-button-prev,
.review-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px; /* Optional: Add rounded corners */
}

.review-button-prev {
  left: 1rem;
}

.review-button-next {
  right: 1rem;
}


/* Media Query for screens below 550px */
@media (max-width: 550px) {
  .review-quote {
    font-size: 1rem; /* Reduce font size for smaller screens */
    margin: 1rem 1rem; /* Adjust margin to fit smaller screens */
  }

  .review-initial {
    font-size: 1rem; /* Reduce font size for smaller screens */
  }
  
  .review-carousel-container {
    padding: 0 1rem; /* Reduce padding for smaller screens */
  }

  .review-slide {
    padding: 0 1rem; /* Reduce padding inside the slide */
  }
}
